{{ define "main" }}
  <article
    class="antialiased justify-self-center mx-auto px-4 md:px-0 mb-16 prose"
  >
    <h1>{{ .Title }}</h1>

    <div class="flex w-auto items-center justify-between text-slate-500 mb-10">
      <div class="flex overflow-x-clip w-3/4">
        {{- with .Description -}}
          <i
            class="whitespace-nowrap truncate bg-sprout-300 px-1 rounded-sm text-white text-start text-sm pt-0.5 font-mono"
            >{{ . }}</i
          >
        {{- end -}}
      </div>
      <div>
        {{ with time.AsTime .Date }}
          {{ int (div (time.ParseDuration (time.Now.Sub .)).Hours 24) }} days
          ago
        {{ end }}
      </div>
    </div>
    {{ if .Params.toc }}
      {{ partial "toc.html" . }}
    {{- end -}}

    {{ .Content }}
  </article>
{{ end }}
