{{ define "main" }}
  <article
    class="antialiased justify-self-center mx-auto px-4 md:px-0 mb-16 prose"
  >
    <h1>{{ .Title }}</h1>

    <div class="flex w-full items-end justify-end text-slate-500">
      {{ with time.AsTime .Date }}
        {{ int (div (time.ParseDuration (time.Now.Sub .)).Hours 24) }} days ago
      {{ end }}
    </div>
    <br />

    <div class="w-full flex items-center justify-center">
      <i
        class="underline underline-offset-3 decoration-sprout-500 decoration-1 text-slate-500 text-start w-full"
        >{{ .Description }}</i
      >
    </div>
    {{ if and (gt .WordCount 400 ) (.Params.toc) }}
      {{ partial "toc.html" . }}
    {{- end -}}

    {{ .Content }}
  </article>
{{ end }}
