{{ define "main" }}
  <article
    class="antialiased justify-self-center mx-auto px-4 md:px-0 mb-16 prose"
  >
    <h1>{{ .Title }}</h1>

    <div class="flex w-auto items-center justify-between text-slate-500 mb-10">
      <div class="flex w-2/3">
        {{- with .Description -}}
          <i
            class="text-pretty text-white text-start text-sm font-mono leading-loose"
          >
            <span class="rounded-sm bg-sprout-300 p-0.5 pt-1">
              {{ . }}</span
            ></i
          >
        {{- end -}}
      </div>
      <div class="flex-none">
        {{ with time.AsTime .Date }}
          {{ int (div (time.ParseDuration (time.Now.Sub .)).Hours 24) }} days
          ago
        {{ end }}
      </div>
    </div>
    {{ if .Params.toc }}
      {{ partial "toc.html" . }}
    {{- end -}}

    {{ .Content }}
  </article>
{{ end }}
