<header class="mx-auto w-screen px-4 xl:px-6 2xl:px-7 py-5">
  <nav class="flex items-center justify-between flex-nowrap">
    <a
      href="{{ .Site.Home.Permalink }}"
      class="flex items-center justify-center text-lg font-bold px-1 rounded-sm text-sprout-650 overflow-visible"
    >
      <div class="relative h-4 w-auto">
        <div
          class="absolute h-4 w-4 -top-1.5 -start-1.5 bg-sprout-300 rounded-sm"
        ></div>
        <div class="absolute leading-none text-sprout-650 text-nowrap">
          {{ .Site.Title }}
        </div>
      </div>
    </a>
    <div id="nav-menu" class="flex justify-end items-end w-full w-auto">
      {{- range .Site.Menus.main }}
        <a
          href="{{ .URL | safeURL }}"
          class="flex max-h-3 px-0.5 pb-0.5 mx-2 justify-center items-center rounded-sm overflow-visible hover:bg-sprout-300 hover:transition-all hover:duration-300"
          >{{ .Name }}</a
        >
      {{- end }}
    </div>
  </nav>
</header>
